@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body {
  font-family: 'Roboto Mono';
  color: lightgray;
  background-color:#303030;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}
